@import "../icons/css/all.css";

* {
	box-sizing: border-box;
}

body {
	margin: 0 0.1px;
	padding: 0;
	background-color: rgba(255, 255, 224, 100%);
}

h1,
h2 {
	color: red;
	text-align: center;
	font-size: 16px;
	margin-top: 30px;
}

h2.little__text {
	margin-top: 5vh;
}

p {
	font-size: 10pt;
	font-weight: 500;
	text-align: left;
}

/* .box__start {
	display: inline-block;
	height: 400px;
	width: 430px;
	background-color: rgba(128, 28, 176, 70%);
	margin: 0 0 0 2px;
	border: 3px solid black;
	padding: 5px;
}
*/
.box {
	display: inline-block;
	height: 400px;
	width: 430px;
	background-color: rgba(128, 28, 176, 70%);
	margin: 0 0.6%;
	padding: 5px;
	border: 3px solid black;
}

/*
.box__end {
	display: inline-block;
	height: 400px;
	width: 430px;
	background-color: rgba(128, 28, 176, 70%);
	margin: 0;
	padding: 5px;
	border: 3px solid black;
} */

.all__contents {
	margin: 0 20px;
}

div.test__box {
	display: block;
	width: 65vh;
	height: 65vh;
	margin: 0 auto;
	background-color: rgba(200, 25, 192, 70%);
}

img.photos {
	display: block;
	margin: 0 auto;
	width: 65vh;
	border: 1px dashed black;
}
